
body {
  margin: 0;
  padding: 0;
}
.drawer-style {
  height: 100%;
  font-weight: bold;
  
}
.drawer-style a {
  color: blue;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #FFA07A;
}